body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa; /* Light gray background */
  color: #333; /* Dark text color */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: 'Fira Code', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Additional Styling */
h2 {
  font-weight: 600;
}

button {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
}
